*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}
.container{
    max-width: 1414px;
    margin: 0 auto;
}
.btn{
    background-color: #DD0000;
    padding: 16px 25px;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
}
/* --------------banner---------- */
.banner{
    display: flex;
    align-items: center;
    background-color: #161616;
    color: #FFFFFF;
    border-radius: 30px;
    margin-top: 80px;
    margin-bottom: 100px;
}
.banner h2{
    font-size: 4.37rem;
    font-weight: 600;
    line-height: 4rem;
}
.banner p{
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 50%;
}
.banner-left{
    margin-left: 125px;
}
.banner-right img{
    display: block;
}

        /* -------Upcoming matches--------- */
        .upcoming-matches{
            display: flex;
            gap: 50px;
        }
        .upcoming-matches-left{
            background-color: black;
            width: 25%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 15px;
            border-radius: 15px;
            height: fit-content;
        }
        .upcoming-matches-left .btn:nth-child(1),
        .upcoming-matches-left .btn:nth-child(2){
            background-color: #FFFFFF;
            color: #161616;
        }
        .card{
            max-width: 312px;
            border: 1px solid #E8E8E8;
            border-radius: 10px;
        }
        .card-btn{
            background-color: #FFFFFF;
            color: black;
            border: 2px solid black;
            padding: 4px 16px;
            font-weight: 500;
            border-radius: 5px;
            margin-top: 24px;
            margin-bottom: 19px;
        }
        .card p{
            font-size: 18px;
            font-weight: 600;
            color: #161616;
            margin-bottom: 20px;
        }
        .card img{
            height: 175px;
            border-radius: 10px 10px 0 0;
        }
        .card-body{
            padding: 20px;
        }
        .card-bottom{
            display: flex;
            gap: 41px;
        }
        .card-bottom span{
display: flex;
gap: 10px;
align-items: center;
justify-content: center;
        }